<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bry.house</title>
    <!-- framework boostrap-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--NavbarBry.house-->
    <header>
      <div class="logo">
          <h1>Brychxpin</h1>
      </div>
      <nav>
          <ul>
              <li><a href="">Inicio</a></li>
              <li><a href="">Venta y compra de dólares</a></li>
              <li><a href="">Total de dolares</a></li>
          </ul>
      </nav>
  </header>

    <!-- MAIN CONTENT HERE -->

    <%- defineContent ('cssPrivado') %>

    <main>
        <%- body %>
    </main>

    <!-- FOOTER -->
    <footer>
      mi nombre es brychxpin &copy; 2021 
    </footer>



    <script src="/index.js"></script>
</body>
</html>