<h1>pagina de contact</h1>

<form action="/contact" method="POST" class="">
    <label for="">Nombre Completo</label>
    <input type="text" name="nombre">  <br/>

    <label for="">correo</label>
    <input type="text" name="correo"> <br/>

    <label for="">mensaje</label>
    <input type="text" name="mensaje"> <br/>
    
    <input type="submit">
    
</form>