<form action="/curp" method="POST">

    <h2 class="text-center">Ingrese sus datos Curp</h2>
    
    <div class="form-floating mb-3">
        <input name="nombre" type="Name" class="form-control" id="floatingInput" placeholder="Nombres">
        <label for="floatingInput">Nombres</label>
    </div>

    <div class="form-floating mb-3">
        <input name="apellidoP" type="lastName" class="form-control" id="floatingInput" placeholder="Apellido Paterno">
        <label for="floatingInput">Apellido Paterno</label>
    </div>

    <div class="form-floating mb-3">
        <input name="apellidoM" type="lastName" class="form-control" id="floatingInput" placeholder="Apellido Materno" >
        <label for="floatingInput">Apellido Materno</label>
    </div>

    <div class="form-floating mb-3">
        <input name="fechaN" type="date" class="form-control" id="floatingInput" placeholder="Fecha de nacimiento">
        <label for="floatingInput">Fecha de nacimiento</label>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Estado de nacimiento</label>
        <select class="form-control" id="estadoSlt">
          <option value="BC">Baja California</option>
          <option value="SR" >Sonora</option>
          <option value="SL">Sinaloa</option>
          <option value="AS">Aguascalientes</option>
          <option value="MC">Mexico</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Sexo</label>
        <select name="Sexo" class="form-control" name="sexoSlt">
          <option value="H">M</option>
          <option value="M">F</option>
        </select>
      </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

    <div class="py-3 mb-3">
        <label class="text-center" for="floatingInput"> Tu RFC es </label>
        <input  class="form-control" type="text"  placeholder="<%=  %>" aria-label=" input example" disabled>
    </div>


</form>