<section>
    <!-- Encabezado -->
    <div class="container text-center">
            <div class="row">
                <div class="column-sm-12" style="margin:30px auto">
                    <h1>Venta y Compra de Dolares </h1>
                </div>
            </div>
    </div>

        <!-- Seccion de datos -->
        <div class="container">
            <div class="row">
                <div  class="col-sm-6">
                    <div class="pesosT" style="background-color: black;">
                        <h2> Dolares Comprados </h2>
                        <div> <%- DAC %> </div>
                    </div>
    
                </div>
                <div class="col-sm-6">
                    <div class="dolaresT" style="background-color: black;">
                        <h2>Tu cambio es: </h2>
                        <div> <%- F %> </div>
                    </div>
    
                </div>
            </div>
        </div>

                <!-- Seccion de datos -->
                <div class="container">
                    <div class="row">
                        <div  class="col-sm-6">
                            <div class="pesosT" style="background-color: black;">
                                <h2> Dolares vendidos </h2>
                                <div> <%- DAV %> </div>
                            </div>
            
                        </div>
                        <div class="col-sm-6">
                            <div class="dolaresT" style="background-color: black;">
                                <h2>Tu cambio es: </h2>
                                <div> <%- F1 %> </div>
                            </div>
            
                        </div>
                    </div>
                </div>

        <!-- boton de salida -->
        <div class="container">
            <div class="row">
                <div class="column-sm-12">
                    <button type="button" style="margin: 30px auto;" class="btn btn-primary Buttoms"><a href="/">SALIR</a></button>
                </div>
            </div>
        </div>
    
</section>